{% extends 'gist/base.html' %}
{% load static %}

{% block content %}

<div id='app'>

    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" href="#">Gist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="material-icons" id='nav-burger'>menu</i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Text" aria-label="Search" v-model="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" @click="analyse">Analyse</button>
        </div>
      </div>
    </nav>

    <!-- Doc -->
    <div id='doc-container'>

        <!-- Sent -->
        <div v-for='(sent, sentid) in doc' class="sent-container">

            <div class='sentence-index'>
                Sentence [[sentid+1]]
            </div>

            <!-- Token -->
            <div v-for='token in sent' class='token-container'>

                <span class="token-literal">[[token.orth]]</span>

                <!-- Token Info -->
                <div class='token-info-container'>
                    <div class='token-info'>
                        <span class='token-title'>
                            [[token.orth]]
                        </span>

                        <div class='token-info-item-section'>

                            <div class='token-info-item'>
                                <strong class='token-info-item-label'>Index:</strong>
                                <span class='token-info-item-value'>[[token.idx]]</span>
                            </div>

                            <div class='token-info-item'>
                                <strong class='token-info-item-label'>Lemma:</strong>
                                <span class='token-info-item-value'>[[token.lemma]]</span>
                            </div>

                            <div class='token-info-item'>
                                <strong class='token-info-item-label'>POS:</strong>
                                <span class='token-info-item-value'>[[token.pos]]</span>
                            </div>

                            <div class='token-info-item'>
                                <strong class='token-info-item-label'>Tag:</strong>
                                <span class='token-info-item-value'>[[token.tag]]</span>
                            </div>

                        </div>

                        <!-- Wordnet -->
                        <div class='token-info-item-section'>

                            <div class="token-info-section-header">
                                Wordnet
                            </div>

                            <div class='token-info-wordnet-synset' v-for="synset in token.wordnet">

                                <div class='token-info-synset-name'>
                                    [[synset.name]] ([[synset.lemma]])
                                </div>

                                <div class='token-info-synset-definition'>
                                    [[synset.definition]]
                                </div>

                                <div class='token-info-subsection'>

                                    <div class='token-info-section-subheader'>
                                        Examples
                                    </div>
                                    <div v-for='example in synset.examples'
                                         class='token-info-synset-example'>
                                        "[[example]]"
                                    </div>

                                </div>

                            </div>

                        </div>
                        <!-- End Wordnet -->

                    </div>

                </div>

            </div>
            <!-- End Token -->

        </div>
        <!-- End Sent -->

    </div> 
    <!-- End Doc -->

        <div class="sent-tree" v-for='treesent in tree'>

            <div class="tree-data" v-html="totree(treesent)">
            </div>

        </div>


        <div class='row'>
            <div class='col'>

                <div class='row'>
                    <div class='col'>
                        is
                    </div>
                </div>

                <div class='row'>
                    <div class='col'>
                        this
                    </div>

                    <div class='col'>
                        <div class='row'>
                            <div class='col'>
                                sentence
                            </div>
                        </div>

                        <div class='row'>
                            <div class='col'>
                                a
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>

<script src="{% static 'gist/js/home.js' %}"> </script>

{% endblock %}