{% extends "gist/base.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'gist/css/gist.css' %}">

<div id='app'>

    <nav class="navbar navbar-expand-md" id="navbar">
      <a class="navbar-brand" href="/gist/">Gist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="material-icons" id='nav-burger'>menu</i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/gist/wordnet">Wordnet Explorer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gist/synspaces">Synspaces</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="card-container" class="main-container">

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Wordnet Explorer</h5>
              <p class="card-text">A web interface for Princeton's Wordnet: A database of semantic relations between words.</p>
              <a href="/gist/wordnet" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Synspaces</h5>
              <p class="card-text">Visualize semantic spaces learned by word embedding models.</p>
              <a href="/gist/synspaces" class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    


</div>

{% endblock %}